<app-navbar></app-navbar>
<div class="listeCompteContainer">
  <div class="listeCompteBcgc">
    <h1>Compte épargne numéro :</h1>
    <h3>Solde :</h3>
    <div class="listeCompteTableau">
      <h3>Liste des transferts</h3>
      <table>
        <thead>
          <tr>
            <th>Destinataire</th>
            <th>Beneficiaire</th>
            <th>Date</th>
            <th>Somme</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
