
    <div class="container">
       
        <form action="verification">
            <h2>SOCIETE D'EPARGNE</h2>
                
                <h1>Connexion</h1><br><br>
                
                <label><b>Nom d'utilisateur</b></label>
                <input type="text" placeholder="Entrer le nom d'utilisateur" name="username" required>

                <label><b>Mot de passe</b></label>
                <input type="password" placeholder="Entrer le mot de passe" name="password" required><br><br><br>

                <input type="submit" id='submit' value='LOGIN' >
               
        </form>
    </div>