<body>

    <div id="accountListContainer">
        <h1>Liste des comptes</h1>

        <div class="accountContainer">
            <!-- <div *ngFor="let account of accountListe" id="accountList"></div> -->
            <div class="accountExample"></div>
            <div class="accountExample"></div>
            <div class="accountExample"></div>
            <div class="accountExample"></div>
            <div class="accountExample"></div>
            <div class="accountExample"></div>
            <div class="accountExample"></div>
            <div class="accountExample"></div>
            <div class="accountExample"></div>
            <div class="accountExample"></div>
            <div class="accountExample"></div>
            <div class="accountExample"></div>
            
        </div>

        <!-- <p id="advisor"> Conseiller : {{advisor.fName}} {{advisor.lName}}</p> -->
        <p>Conseiller : [Nom conseiller] [Prénom conseiller]</p>
    </div>

</body>